body {
    /* background: linear-gradient(#06212f,#082e42,#225774,#4e7990); */
    padding-bottom: 133px;
    background: radial-gradient(#225774,#225774,#082E42);
    background-repeat: no-repeat;
}

.container {
    margin-top: 120px;
    text-align: center;
}

    #screen {
        background: rgb(255, 255, 255);
        border-radius: 25px;
        height: 390px;
        width: 850px;
        margin: auto;
        padding: 10px;
        text-align: center;
        box-shadow:
            inset 5px 5px 0 #c9cdcf,
            inset -5px 5px 0 #c9cdcf,
            inset 5px -5px 0 #c9cdcf,
            inset -5px -5px 0 #c9cdcf;
    }

        p {
            margin-top: 30px;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
        }

        #qr-div {
            width: 150px;
            margin: auto;
        }

            #qr {
                width: 100%;
                margin: 0 auto;
            }

        .form__field {
            font-family: "Montserrat", sans-serif;
            width: 700px;
            margin-top: 30px;
            padding-bottom: 8px;
            border: 0;
            border-bottom: 2px solid rgb(61, 61, 61);
            font-size: 1.3rem;
            color: black;
            background: transparent;
            text-align: center;
            outline: none;
        }

    #dispenser {
        background: #2d4553;
        border-radius: 10px;
        height: 40px;
        width: 850px;
        margin: 50px auto 0;
        box-shadow:
            inset 12px 12px 0 #29353d,
            inset -12px 12px 0 #29353d,
            inset 12px -12px 0 #29353d,
            inset -12px -12px 0 #29353d;
    }

    .cash {
        transform: scaleY(0);
        margin-top: 25px;
    }

        #top-bill {
            float: center;
            margin: -90px auto 0;
            width: 800px;
            border-bottom: 50px solid #588627;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }

        #middle-bill {
            float: center;
            margin: -85px auto 0;
            width: 800px;
            border-bottom: 65px solid #587934;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
        }

        #bottom-bill {
            float: center;
            margin: 0 auto 0;
            width: 800px;
            border-bottom: 65px solid #40522d;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

    .animate {
        animation-name: dispense;
        animation-timing-function: ease;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }

        @keyframes dispense {
            from {
                transform: translate(0,-50px) scaleY(0);
            }

            to {
                transform: translate(0,0) scaleY(1);
            }
        }

    .button {
        background: #fe9920;
        border-radius: 15px;
        width: 100px;
        height: 55px;
        border: none;
        cursor: pointer;
        box-shadow: inset 3px -3px 0px rgba(0,0,0,0.2)
    }

        #button1 {
            position: absolute;
            top: 15%;
            left: 10%;
        }

        #button2 {
            position: absolute;
            top: 30%;
            left: 10%;
        }

        #button3 {
            position: absolute;
            top: 45%;
            left: 10%;
        }

        #button4 {
            position: absolute;
            top: 60%;
            left: 10%;
        }

        #button5 {
            position: absolute;
            top: 15%;
            right: 10%;
        }

        #button6 {
            position: absolute;
            top: 30%;
            right: 10%;
        }

        #button7 {
            position: absolute;
            top: 45%;
            right: 10%;
        }

        #button8 {
            position: absolute;
            top: 60%;
            right: 10%;
        }
