
@font-face{
    font-family: 'Lato';  
    src: url(http://fonts.googleapis.com/css?family=Lato:400,700)
  }
.form-group{
    /* align-items: center; */
    width: 50%;
    /* text-align: center; */
    /* left: 50%; */
}

h2{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    letter-spacing: 5px;
}

.send{
    background:#36486b;
    position: center;
    color: white;
    
}

.amountTransfer{
    color: black;
}